.actions {
     text-align: right;
     position: relative;
     animation-name: action-appear;
     animation-duration: 1s;
}

.actions button {
     font: inherit;
     cursor: pointer;
     background-color: transparent;
     border: 1px solid #8a2b06;
     padding: 0.5rem 2rem;
     border-radius: 25px;
     margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
     background-color: #5a1a01;
     border-color: #5a1a01;
     color: white;
}

.actions .button--alt {
     color: #8a2b06;
}

.actions .button {
     background-color: #8a2b06;
     color: white;
}

@keyframes meals-appear {
     from {
          opacity: 0;
          transform: translateY(3rem);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

@keyframes action-appear {
     0% {
          left: -50%;
          top: 0px;
     }

     100% {
          left: 0px;
          top: 0px;
     }
}
